nav {
    position: relative;
    min-height: 50px;
    height: 8vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    background-color: white;
}

.logo {
    display: flex;
    align-self: center;
    justify-self: center;
    grid-column: 2 / 12;
    // padding-top: 10px;
    // padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    // text-shadow: 1px 1px #3d3b3d;
    a {
        color: $header-color;
        text-decoration: none;
    }
}

.link-area {
    grid-column: 20/ 22;
    display: flex;
    align-self: center;
    justify-self: center;
    transition: 0.2s;
    // width: 60%;
    // text-align: center;
    // margin-left: 40%;
    // padding-top: 1.5em;
    // display: inline-block;
    a {
        color: #a68bb5;
        padding: 1.2%;
        // padding-top: 2vh;
        // margin-top: 2vh;  
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
        // letter-spacing: 10px;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        // text-shadow: 0.5px 0.5px #3d3b3d;
    }
    a:hover {
        color: gray;
    }
}

.menu-button {
    display: none;
    // position: relative;
    grid-column: 23 / 25;
    align-self: end;
    // justify-self: bottom;
    padding-bottom: 7px;
    img {
        width: 40px;
        height: 40px;
    }
}

.menu-button:hover .drop {
    display: block;
}

.drop {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    // width: 200px;
    // height: 300px;       
    top: 63px;
    right: 0;
    transition: 0.2s;
    a {
        display: block;
        color: #b2a3ba;
        padding: 2px;
        margin: 15px 30px 15px 30px;
        font-family: 'Oswald', sans-serif;
        font-size: 1.2em;
        // letter-spacing: 10px;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        text-shadow: 0.5px 0.5px #3d3b3d;
    }
    a:first-of-type {
        margin-top: 30px;
    }
    a:last-of-type {
        margin-bottom: 30px;
    }
    a:hover {
        color: gray;
    }
}