/* Media Queries */


/**************************/

@media screen and (max-width: 2300px) and (min-width: 1561px) {
    .link-area {
        grid-column: 16 / 22;
    }
}

@media screen and (max-width: 1560px) and (min-width: 1401px) {
    .logo {
        grid-column: 2 / 14;
    }
    .link-area {
        grid-column: 16/22
    }
    .links {
        a{
            font-size: 1.2em;
        }
    }
}
@media screen and (max-width: 1400px) and (min-width: 1281px) {
    .logo {
        grid-column: 5/21;
    }
    .link-area {
        grid-column: 23
    }
    .links {
        a{
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width: 1280px) and (min-width: 960px) {
    .logo {
        grid-column: 3 / 20;
    }
    .link-area {
        grid-column: 23
    }

}

@media screen and (max-width: 959px) and (min-width: 768px) {
    .logo {
        grid-column: 1/23;
    }
    .link-area {
        grid-column: 23
    }

    #parallax-world-of-ugg .block {
        padding: 40px;
        width: 620px;
    }
    .footer-grid {
        grid-template-columns: repeat(3, 33.333%);
    }
    #footer-left {
        grid-column: 1 / 2;
    }
    #footer-middle {
        grid-column: 2 / 3;
    }
    #footer-right {
        grid-column: 3 / 4;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        grid-column: 1/23;
        font-size: 2.2em
    }
    .link-area {
        grid-column: 23
    }
    
    #parallax-world-of-ugg .block {
        padding: 30px;
        width: 420px;
    }
    #parallax-world-of-ugg h2 {
        font-size: 30px;
    }
    #parallax-world-of-ugg .parallax-one,
    #parallax-world-of-ugg .parallax-two,
    #parallax-world-of-ugg .parallax-three {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer-grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 33.333%);
    }
    #footer-left {
        grid-row: 1 / 2;
        grid-column: 1 / 1;
    }
    #footer-middle {
        grid-row: 2 / 3;
        grid-column: 1 / 1;
    }
    #footer-right {
        grid-row: 3 / 4;
        grid-column: 1 / 1;
    }
}

@media screen and (max-width: 479px) {
    #parallax-world-of-ugg .block {
        padding: 30px 15px;
        width: 290px;
    }
}