/* Media Queries */


/**************************/

@media screen and (max-width: 2300px) and (min-width: 1641px) {
    .link-area {
        grid-column: 16 / 22;
    }
}

@media screen and (max-width: 1640px) and (min-width: 1401px) {
    .logo {
        grid-column: 2 / 14;
    }
    .link-area {
        grid-column: 16/22;
        a {
            font-size: 1.3em;
        }
    }
}

@media screen and (max-width: 1400px) and (min-width: 1281px) {
    nav {
        height: 70px;
    }
    .logo {
        grid-column: 5/21;
    }
    .link-area {
        display: none;
        // grid-column: 21 / 24;
        position: absolute;
        top: 3vh;
        margin-left: 90%;
    }
    .menu-button {
        display: grid;
    }
}

@media screen and (max-width: 1280px) and (min-width: 960px) {
    nav {
        height: 70px;
    }
    .logo {
        grid-column: 3 / 20;
    }
    .link-area {
        grid-column: 23;
        display: none;
    }
    .menu-button {
        display: grid;
    }
}

@media screen and (max-width: 959px) and (min-width: 768px) {
    nav {
        height: 70px;
    }
    .logo {
        grid-column: 1/23;
    }
    .link-area {
        grid-column: 23;
        display: none;
    }
    .menu-button {
        display: grid;
    }
    #parallax-world-of-ugg .block {
        padding: 40px;
        width: 620px;
    }
    .footer-grid {
        grid-template-columns: repeat(3, 33.333%);
    }
    #footer-left {
        grid-column: 1 / 2;
    }
    #footer-middle {
        grid-column: 2 / 3;
    }
    #footer-right {
        grid-column: 3 / 4;
    }
}

@media screen and (max-width: 767px) {
    nav {
        height: 70px;
    }
    .logo {
        grid-column: 1/23;
        font-size: 2.2em;
    }
    .link-area {
        grid-column: 22;
        display: none;
    }
    .menu-button {
        display: grid;
        padding-bottom: 17px;
        img {
            width: 30px;
            height: 30px;
        }
    }
    .drop {
        top: 53px;
    }
    #parallax-world-of-ugg .block {
        padding: 30px;
        width: 420px;
    }
    #parallax-world-of-ugg h2 {
        font-size: 30px;
    }
    #parallax-world-of-ugg .parallax-one,
    #parallax-world-of-ugg .parallax-two,
    #parallax-world-of-ugg .parallax-three {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer-grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 33.333%);
    }
    #footer-left {
        grid-row: 1 / 2;
        grid-column: 1 / 1;
    }
    #footer-middle {
        grid-row: 2 / 3;
        grid-column: 1 / 1;
    }
    #footer-right {
        grid-row: 3 / 4;
        grid-column: 1 / 1;
    }
}

// @media (max-width: 640px) {
//     .about-flex {
//         height: 40em;
//         display: -webkit-flex;
//         -webkit-flex-direction: column;
//         flex-direction: column;
//     }
//     .col {
//         order: vertical;
//     }
//     .col-left {
//         -webkit-box-ordinal-group: 0;
//         -webkit-order: 0;
//         -ms-flex-order: 0;
//         order: 0;
//     }
//     .col-text div p {
//         padding: 1em;
//     }
//     .aligner-item {
//         width: 90%;
//     }
// }
@media screen and (max-width: 479px) {
    nav {
        height: 70px;
    }
    .logo {
        font-size: 1.7em;
    }
    .menu-button {
        display: grid;
        grid-column: 23 / 24;
    }
    .link-area {
        display: none;
    }
    #parallax-world-of-ugg .block {
        padding: 30px 15px;
        width: 290px;
    }
}

@media screen and (max-width: 375px) {
    nav {
        height: 50px;
    }
    .logo {
        font-size: 1.5em;
    }
    .menu-button {
        display: grid;
        padding-bottom: 12px;
        grid-column: 23 / 24;
        img {
            height: 25px;
            width: 25px;
        }
    }
    .drop {
        top: 38px;
        a {
            font-size: 1em;
            margin: 10px 25px 10px 25px;
        }
    }
    .link-area {
        display: none;
    }
    #parallax-world-of-ugg .block {
        padding: 30px 15px;
        width: 290px;
    }
}

@media screen and (max-width: 321px) {
    nav {
        height: 50px;
    }
    .logo {
        font-size: 1.2em;
    }
    .menu-button {
        display: grid;
        padding-bottom: 12px;
        grid-column: 23 / 24;
        img {
            width: 20px;
            height: 20px;
        }
    }
    .drop {
        top: 38px;
    }
    .link-area {
        display: none;
    }
    #parallax-world-of-ugg .block {
        padding: 30px 15px;
        width: 290px;
    }
}