.social-container {
    min-height: 80vh;
    h1 {
        text-align: center;
        margin-top: 3em;
    }
}

.card {
    width: 700px;
    height: 400px;
    border-radius: 20px;
    background-color: gray;
    text-align: center;
    margin: 2em;
}

.youtube {}

.instagram {}

.fivepx {}

.facebook {}