.social-container {
    min-height: 80vh;
    h1 {
        text-align: center;
        margin-top: 3em;
    }
}

#social .card {
    width: 70vw;
    height: 600px;
    // background-color: gray;
    // text-align: center;
    margin: 0 auto;
    padding: 2em 0 2em 0;
}

#social .line-break {
    border-bottom: 1px solid #a68bb5;
    width: 45vw;
    margin: 0 auto;
}

.youtube {}

#social .video {
    float: right;
}

#social .g-ytsubscribe {}

.instagram {}

.fivepx {}

.facebook {}