@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */

html,
body {
    margin: auto 0;
}

#main {
    width: 100%;
    padding: 0;
}

nav {
    height: 8vh;
    width: 100%;
    display: inline-block;
    // margin: 10px;
}

.logo {
    float: left;
    color: black;
    padding-top: 1vh;
    padding-left: 5vw;
    // margin-top: 2vh;  
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    // letter-spacing: 10px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.large-menu-classname {
    height: 8vh;
    color: red;
}

.links {
    width: 60%;
    text-align: center;
    margin-left: 40%;
    padding-top: 1.5em;
    // display: inline-block;
    a {
        color: black;
        padding-right: 1em;
        padding-top: 2vh;
        // margin-top: 2vh;  
        font-family: 'Oswald', sans-serif;
        font-size: 1.2em;
        // letter-spacing: 10px;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.links a:hover {
    color: gray;
}

.openMenu {
    // float: right;
    margin: 0;
    img {
        margin-top: 15px;
        margin-right: 5vw;
        float: right;
        height: 40px;
        width: 40px;
    }
}

.openMenu:hover {
    cursor: pointer;
}

.closeMenu {
    float: right;
    margin: 40px;
}

.closeMenu:hover {
    cursor: pointer;
}

.content-asset p {
    margin: 0 auto;
}

.breadcrumb {
    display: none;
}


/* Helpers */


/**************************/

.margin-top-10 {
    padding-top: 10px;
}

.margin-bot-10 {
    padding-bottom: 10px;
}


/* Typography */


/**************************/

#parallax-world-of-ugg h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    padding: 0;
    margin: 0;
}

#parallax-world-of-ugg h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10;
    opacity: .9;
}

#parallax-world-of-ugg h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 0;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: black;
}

#parallax-world-of-ugg p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.first-character {
    font-weight: 400;
    float: left;
    font-size: 84px;
    line-height: 64px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: 'Source Sans Pro', sans-serif;
}

.sc {
    color: #3b8595;
}

.ny {
    color: #3d3c3a;
}

.atw {
    color: #c48660;
}


/* Section - Title */


/**************************/

#parallax-world-of-ugg .title {
    background: white;
    padding: 60px;
    margin: 0 auto;
    text-align: center;
}

#parallax-world-of-ugg .title h1 {
    font-size: 35px;
    letter-spacing: 8px;
}


/* Section - Block */


/**************************/

#parallax-world-of-ugg .block {
    height: 70vh;
    background: white;
    padding: 60px;
    width: 820px;
    margin: 0 auto;
    text-align: justify;
}

#parallax-world-of-ugg .block-gray {
    background: #f2f2f2;
    padding: 60px;
}

#parallax-world-of-ugg .section-overlay-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.70;
}


/* Section - Parallax */


/**************************/

#parallax-world-of-ugg .parallax-one {
    // padding-top: 200px;
    // padding-bottom: 200px;
    height: 92vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    // background-image: url(https://images.unsplash.com/photo-1415018255745-0ec3f7aee47b?dpr=1&auto=format&fit=crop&w=1500&h=938&q=80&cs=tinysrgb&crop=);
    background-image: url("./images/website-1.jpg");
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#parallax-world-of-ugg .parallax-two {
    // padding-top: 200px;
    // padding-bottom: 200px;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    // background-image: url(https://images.unsplash.com/photo-1432163230927-a32e4fd5a326?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
    background-image: url("./images/20.jpg");
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#parallax-world-of-ugg .parallax-three {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    // background-image: url(https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=);
    background-image: url("./images/9 crop.jpg");
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* Extras */


/**************************/

#parallax-world-of-ugg .line-break {
    border-bottom: 1px solid black;
    width: 150px;
    margin: 0 auto;
}



/* Footer stuff */
$primary-light-blue: #8DB9ED;
$primary-line-color: #ccc;
* {
  box-sizing: border-box
}
html, body {
  height: 100%
}
body {
	font: 11px "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
  display: flex;
  flex-flow: column nowrap;
  //This justify-content is essentially unnecessary in Firefox and Chrome due to the flex: 1 1 auto on the main.  However, it's needed to push the footer down on IE11
  justify-content: space-between
}
ul {
  list-style: none
}
a {
  text-decoration: none
}
.generic-anchor {
	color: $primary-light-blue;
	&:visited {
		color: $primary-light-blue
	}
	&:hover {
		color: $primary-line-color
	}
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}
//This main is mostly to push the footer to the bottom and for demo purposes.
main {
  flex: 1 1 auto; //For IE11
  display: flex;
  align-items: center;
  justify-content: center;
  font: 10em "Oswald", sans-serif;
  color: rgb(155,155,155);
  line-height: 1
}
footer {
  background: rgb(55,55,55);
  margin-top: auto;
  width: 100%
}
.footer-list-top {
  width: 33.333%
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif
}
.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid $primary-line-color;
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: rgb(55,55,55);
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 3em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid $primary-line-color;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff
}
.footer-address {
  display: inline;
  font-style: normal
}




/* Media Queries */

/**************************/

@media screen and (max-width: 959px) and (min-width: 768px) {
    #parallax-world-of-ugg .block {
        padding: 40px;
        width: 620px;
    }
}

@media screen and (max-width: 767px) {
    #parallax-world-of-ugg .block {
        padding: 30px;
        width: 420px;
    }
    #parallax-world-of-ugg h2 {
        font-size: 30px;
    }
    #parallax-world-of-ugg .block {
        padding: 30px;
    }
    #parallax-world-of-ugg .parallax-one,
    #parallax-world-of-ugg .parallax-two,
    #parallax-world-of-ugg .parallax-three {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 479px) {
    #parallax-world-of-ugg .block {
        padding: 30px 15px;
        width: 290px;
    }
}

/* Footer queries */
@media only screen and (max-width: 768px) {
    .footer-list-header {
      font-size: 2em
    }
    .footer-list-anchor {
      font-size: 1.1em
    }
    .footer-social-connect {
      font-size: 2.5em
    }
    .footer-social-overlap > a {
      font-size: 2.24em
    }
    .footer-bottom-wrapper {
      font-size: 1.3em
    }
}
@media only screen and (max-width: 568px) {
    main {
      font-size: 5em
    }
    .footer-list-top {
      width: 100%
    }
    .footer-list-header {
      font-size: 3em;
    }
    .footer-list-anchor {
      font-size: 1.5em
    }
    .footer-social-section {
      justify-content: center
    }
    .footer-social-section::after {
      top: 25%
    }
    .footer-social-connect {
      margin-bottom: 10px;
      padding: 0 10px
    }
    .footer-social-overlap {
      display: flex;
      justify-content: center;
    }
    .footer-social-icons-wrapper {
      width: 100%;
      padding: 0
    }
    .footer-social-overlap > a:not(:first-child) {
      margin-left: 20px;
    }
    .footer-bottom-section {
      padding: 0 5px 10px 5px
    }
    .footer-bottom-wrapper {
      text-align: center;
      width: 100%;
      margin-top: 10px
    }
}
@media only screen and (max-width: 480px) {
    .footer-social-overlap > a {
      margin: auto
    }
    .footer-social-overlap > a:not(:first-child) {
      margin-left: 0;
    }
    .footer-bottom-rights {
      display: block
    }
}
@media only screen and (max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em
    }
    .footer-list-anchor {
        font-size: 1.2em
    }
    .footer-social-connect {
        font-size: 2.4em
    }
    .footer-social-overlap > a {
        font-size: 2.24em
    }
    .footer-bottom-wrapper {
        font-size: 1.3em
    }
}